@charset "UTF-8";
@import "reset";
@import "base";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}

body {
  color: $base-color1;
  font-size: 1.2rem;
  line-height: 2;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  @include media-pc {
    color: $base-color1;
  }
  @include media-sp {
    color: $main-color1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.btn {
  @include btn-2;
}
