@charset "UTF-8";
/*-------------- フォント、カラー ----------------*/
/*-------------- 表題 ----------------*/
/*-------------- レイアウト ----------------*/
/*-------------- フォーム ----------------*/
/*-------------- ボタン ----------------*/
/*-------------- メディアクエリ ----------------*/
/*-------------- その他 ----------------*/
@media screen and (max-width: 2000px) {
  body {
    color: black;
  }
}
@media screen and (max-width: 480px) {
  body {
    color: blue;
  }
}

h1 {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.3rem;
}
h1 a {
  display: inline-block;
}
h1 a::after {
  content: "";
  display: block;
  width: 0;
  margin: 6px auto 0;
  border-bottom: 1px solid #7c5119;
  transition: width 0.3s ease-in-out;
}
h1 a:hover::after {
  width: 100%;
}
